<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hepsi Online</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
</head>
<body>
    
        <div class="bg-dark text-white">
            <div class="container p-3">
               <a class="navbar-brand text-light" style="font-size:1.5rem;" asp-action="Index" asp-controller="Home">Hepsi Online</a>
            </div>
        </div>
    
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>