@model Cart

    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text mr-2">
            <b>Sepetin:</b>
            @Model.Lines.Sum(x => x.Quantity) ürün
            <b class="text-danger text-success">@Model.ComputeTotalValue().ToString("c")</b>
        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Cart"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
